ctransformers
sentence-transformers
pinecone-client
python-dotenv
transformers
langchain-text-splitters
python-dotenv
PyMuPDF 
ipywidgets
pypdf
pinecone-client[grpc]==3.0.0
pinecone-datasets==0.7.0
langchain-pinecone==0.0.3
langchain-openai==0.0.7
langchain==0.1.9

-e .